.minimalTooltip {
  background-color: white;
  border: 1px solid #cbd5f5;
  border-radius: 12px;
  padding: 5px;
  font-size: 13px;
  color: #333;
  min-width: 120;
  z-index: 1000;

  .minimalTooltip__label {
    font-weight: bold;
  }

  .minimalTooltip__labelIconCt {
    display: flex;
    align-items: center;
  }

  .minimalTooltip__Icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 2px;
  }

  .minimalTooltip__value {
    font-weight: bold;
  }
}

.legend {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000;

  .legend__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    user-select: none;
    color: inherit;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    border: 1px solid hsl(var(--neutral-200));
    padding: 0 5px;
    border-radius: 5px;
  }

  .legend__item--inactive {
    opacity: 0.4;
  }

  .legend__icon {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    margin-right: 8px;
  }
}
