.publicShell {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, var(--color-surface), var(--color-background));
}

.appShell {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
}

.mainContent {
  display: block;
  width: 100%;
}

.mainArea {
  height: calc(100vh - 100px);
  width: calc(100vw - 280px);
  background-color: var(--color-surface);
  overflow: auto;
}
